<div class="container padding-top-60">

  <h2 style="text-align: left; padding-left: 20px;">Обзор фильмов</h2>

  <mat-card class="filter-movies-card">
    <div style="margin-bottom: 24px">Фильтры</div>

    <mat-radio-group class="movie-radio-group" (change)="changeType($event)" [(ngModel)]="curType">
      <mat-radio-button class="movie-radio-button" *ngFor="let type of types" [value]="type">
        {{type.title}}
      </mat-radio-button>
    </mat-radio-group>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Жанры
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let genre of genres">
        <button mat-raised-button color="primary">
          {{genre.name}}
        </button>
      </div>
    </mat-expansion-panel>
<!--     <div style="margin-top: 10px">Оценка пользователей</div>
    <mat-slider
      [max]="max"
      [min]="min"
      [step]="step"
      [thumbLabel]="thumbLabel"
      [tickInterval]="tickInterval"
      [value]="value"
      (input)="setVote($event)"
    ></mat-slider> -->
  </mat-card>

  <div class="list-movies">
    <div style="text-align: center">
      <span *ngFor="let movie of movies">
        <app-poster-card class="all-poster" [model]="movie"></app-poster-card>
      </span>
    </div>
  </div>

</div>
