.filter-movies-card {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 20%;
  margin-top: 5px;
}

.filter-movies-card button {
  width: 100%;
  margin-bottom: 8px;
}

.list-movies {
  display: inline-block;
  text-align: left;
  width: 72%;
}

.mat-slider-horizontal {
  width: 100%;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .all-poster::ng-deep .movie-card{  width: 17%;  }
  .all-poster::ng-deep .movie-card .mat-card-title{  font-size: 20px  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .all-poster::ng-deep .movie-card{  width: 23%;  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .all-poster::ng-deep .movie-card{  width: 37%;  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .list-movies { width: 66% }
  .all-poster::ng-deep .movie-card{  width: 31%;  }
  .all-poster::ng-deep .movie-card .mat-card-title{  font-size: 17px  }
  .filter-movies-card{ width: 24%; margin-bottom: 20px; }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .list-movies { width: 90% }
  .all-poster::ng-deep .movie-card{  width: 88%;  }
  .filter-movies-card{ width: 80%; margin-bottom: 20px; }
}

.movie-radio-group {
  display: flex;
  flex-direction: column;
}

.movie-radio-button {
  margin: 5px;
}

