<div *ngIf="tvShow" class="tv-main">
  <div class="sidebar left">
    <div class="center-block">
      <img src="https://image.tmdb.org/t/p/w500/{{tvShow?.poster_path}}" alt="">
      <h2>{{tvShow.name}}</h2>
      <h3>Жанры</h3>
      <div class="genre-block">
        <a *ngFor="let genre of tvShow.genres" routerLink="/genres/{{genre.id}}/{{genre.name}}" class="genders-cat">
          <button mat-raised-button aria-label="Genres">{{genre.name}}</button>
      </a>
      </div>
      <h3>Премьера</h3>
      <h4>{{tvShow.first_air_date}}</h4>
      <h3>Количество сезонов</h3>
      <h4>{{tvShow.number_of_seasons}}</h4>
    </div>
  </div>
  <div class="container-tv">
    <div *ngIf="cast">
      <h1>Обзор</h1>
      <p>{{tvShow.overview}}</p>
      <h1>В главных ролях</h1>
      <mat-card-content class="card-content">
        <mat-card class="cast-actor-card" *ngFor="let actor of cast">
          <a routerLink="/actor/{{actor?.id}}">
            <img mat-card-image src="https://image.tmdb.org/t/p/w500/{{actor?.profile_path}}" height="294px">
            <mat-card-content>
              <strong>{{actor.name}}</strong><br>
              <span>{{actor.character}}</span>
            </mat-card-content>
          </a>
        </mat-card>
      </mat-card-content>
    </div>
    <div class="absent" *ngIf="cast == undefined || cast.length == 0">Актеры отсутствуют</div>


    <div *ngIf="similarShows" class="similar-movies">
      <h1>Похожие фильмы</h1>
      <div style="text-align:center;">
        <div class="absent" *ngIf="similarShows.length==0">Похожие фильмы отсутствуют</div>
        <span *ngFor="let movie of similarShows;">
          <app-poster-card [model]="movie" class="recommended-poster"></app-poster-card>
        </span>
      </div>
    </div>
  </div>

  <div class="sidebar right">
 <!--    <ul>
      <li *ngFor="let video of videos;">
        <iframe [src]="data.video.url" allowfullscreen></iframe>
     </li>
    </ul> -->

    <ul>
     <li *ngFor="let image of images;">
      <img src="https://image.tmdb.org/t/p/w500/{{image.file_path}}" alt="">
     </li>
    </ul>
  </div>

</div>
<div *ngIf="isLoading" style="margin-top: 30%">
  <div class="loading">
    <h4>Загружаем</h4>
  </div>
</div>
