<ul class="nav">
  <li class="nav_item">
    <a class="nav_link" href="/">Главное</a>
  </li>
  <li class="nav_item">
    <a class="nav_link" href="/all-movies">Фильмы</a>
  </li>
  <li class="nav_item">
    <a class="nav_link" href="/all-tv-shows">Сериалы</a>
  </li>
  <li class="nav_item">
    <a class="nav_link" href="/genres">Жанры</a>
  </li>
</ul>

