@import "variables";

:host {
  background: $dark_liver;
  width: 100%;
  height: 50px;
  position: relative;
}

.nav {
  display: flex;
  flex-flow: row;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
  background: $dark_liver;
  box-shadow: 0 -1px 0 0 $grullo inset;
}

.nav_item {
  display: block;
  overflow: hidden;
  margin-left: 40px;

  &.active {
    border-bottom: 2px solid white;
  }
}

.nav_link {
  height: 100%;
  text-decoration: none;
  font: 15px/21px sans-serif;
  display: block;
  color: $isabelline;
}
