<a [routerLink]="model.isMovie ? '/movie/' + model.id : '/tv-show/' + model.id">
  <mat-card class="movie-card">
    <div class="vote-average" [ngClass]="{
      'negative': model.vote_average < 5.0,
      'neutral': model.vote_average > 5.0 && model.vote_average < 7.0,
      'positive': model.vote_average > 7.0}">{{model.vote_average}}
    </div>
    <img *ngIf="model.poster_path" mat-card-image src="https://image.tmdb.org/t/p/w300/{{model.poster_path}}" [alt]="model.title ? model.title : model.name">
    <img *ngIf="!model.poster_path" mat-card-image src="http://www.catedrauamfujitsu.es/wp-content/themes/invicta/styles/images/defaults/no_photo.jpg" class="movie-header-card">
    <mat-card-content>
      <mat-card-title *ngIf="model.title">{{model.title}}</mat-card-title>
      <mat-card-title *ngIf="model.genres">{{model.genres[0]}}</mat-card-title>

      <mat-card-title *ngIf="model.name">{{model.name}}</mat-card-title>
      <p *ngIf="model.release_date">
        <strong>Дата выхода: </strong>{{model.release_date | date}}
      </p>
      <p *ngIf="model.first_air_date">
        <strong>Начало выпуска: </strong>{{model.first_air_date | date}}
      </p>
    </mat-card-content>
  </mat-card>
</a>
