@import "variables";

.movie-card {
  display: inline-block;
  margin: 7px 7px;
  vertical-align: top;
  cursor: pointer;
  p {
    color: $beaver;
  }
  img {
    margin-top: -24px;
  }
}

mat-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

mat-card-content {
  padding: 0 !important;
  text-align: left;
}

.vote-average {
  background: gray;
  text-align: center;
  width: 30px;
  height: 15px;
  left: 0;
  margin-top: 10px;
  position: absolute;
  z-index: 100;
  font-size: 13px;
}

.negative {
  background-color: #f00;
}

.neutral {
  background-color: #aaa;
}

.positive {
  background-color: #3bb33b;
}
