<div class="container padding-top-60" id="home">

  <!--Now Playing Movies-->
  <div class="moviesHome-title">Сегодня в кино</div>
  <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      <div *ngFor="let movie of nowPlaying | slice:0:20" class="swiper-slide">
        <app-poster-card [model]="movie"></app-poster-card>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <!--Upcoming Movies Tab-->
  <div class="moviesHome-title">Скоро в кино</div>
  <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      <div *ngFor="let movie of upcomingList | slice:0:20" class="swiper-slide">
        <app-poster-card [model]="movie"></app-poster-card>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <!--Popular Movies Tab-->
  <div class="moviesHome-title">Популярные</div>
  <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      <div *ngFor="let movie of popularList | slice:0:20" class="swiper-slide">
        <app-poster-card [model]="movie"></app-poster-card>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <!--Currently Airing TV Shows Tab-->
  <div class="moviesHome-title">На экране</div>
  <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      <div *ngFor="let tvShow of onTheAir | slice:0:20" class="swiper-slide">
        <app-poster-card [model]="tvShow"></app-poster-card>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <!--Airing Today TV Shows Tab-->
  <div class="moviesHome-title">Скоро на экране</div>
  <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      <div *ngFor="let tvShow of airingToday | slice:0:20" class="swiper-slide">
        <app-poster-card [model]="tvShow"></app-poster-card>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <!--Popular TV Shows Tab-->
  <div class="moviesHome-title">Популярные сериалы</div>
  <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      <div *ngFor="let tvShow of popularTvShows | slice:0:20" class="swiper-slide">
        <app-poster-card [model]="tvShow"></app-poster-card>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

</div>
