@import "variables";

.moviesHome-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 70px;
  margin-bottom: 0;
}

.moviesHome-title {
  font-size: 24px;
  font-weight: bold;
}

::ng-deep #home img {
  height: 200px;
}

/* =============
    Responsive
 =============== */

// Large desktops and laptops
@media (min-width: 1200px) {
  ::ng-deep .movie-card {
    width: 19%;
  }
}

// Landscape tablets and medium desktops
@media (min-width: 992px) and (max-width: 1199px) {
  ::ng-deep .movie-card {
    width: 17%;
  }
}

// Portrait tablets and small desktops
@media (min-width: 768px) and (max-width: 991px) {
  ::ng-deep .movie-card {
    width: 40%;
  }
}

// Landscape phones and portrait tablets
@media (max-width: 767px) {
  ::ng-deep .movie-card {
    width: 38%;
  }
}

// Portrait phones and smaller
@media (max-width: 480px) {
  ::ng-deep .movie-card {
    width: 80%;
  }
}

/**/

.swiper-container {
  margin: 10px 20px 0 0;
}

::ng-deep .swiper-pagination-bullet-active {
  background: $beaver;
}

::ng-deep .swiper-pagination {
  margin-top: 10px;
  position: relative;
  bottom: 0 !important;
}

.swiper-slide {
  color: $isabelline;
  background-color: transparent;
  width: 140px;
}

::ng-deep .swiper-wrapper app-poster-card .movie-card {
  margin: 0;
  width: 80%;
  vertical-align: top;
}
