<div class="padding-top-60 container" style=" display: flex;">
  <div  style="width: 25%">
    <mat-card class="actor-card">
      <img src="https://image.tmdb.org/t/p/w300/{{person.profile_path}}" *ngIf="person.profile_path">
    </mat-card>
  </div>

  <div style="width: 70%">

    <mat-card class="actor-card-bio" style="width: 100%; margin-bottom: 0;">
      <mat-card-content>
        <div class="actor-title" dir="auto">
          <h2>{{person.name}}</h2>
        </div>
        <div>
          <p>
            <strong>Пол: </strong>
            <span *ngIf="person.gender == 2">Мужской</span>
            <span *ngIf="person.gender == 1">Женский</span>
          </p>
          <p><strong>Дата рождения: </strong>
            {{person.birthday}}</p>
          <p><strong>Место рождения: </strong>{{person.place_of_birth}}</p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="actor-card-bio" style="width: 100%; margin-bottom: 0;">
      <mat-card-content>
        <mat-tab-group>
          <mat-tab [label]="'Роли'">
            <mat-list>
              <mat-list-item *ngFor="let movie of cast">
                {{movie.title}} - {{movie.character}}
              </mat-list-item>
            </mat-list>
          </mat-tab>
          <mat-tab [label]="'Изоражения'">
            <div class="person-images">
              <div *ngFor="let image of images">
                <img src="https://image.tmdb.org/t/p/original/{{image.file_path}}" height="294px">
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
