.actor-card {
  display: inline-block;
  vertical-align: top;
  margin: 15px 5px;
  padding: 0;
  text-align: left;
}

.actor-card-bio {
  display: inline-block;
  vertical-align: top;
  margin: 15px 5px;
}

.actor-card-bio h2 {
  display: inline-block;
  font-size: 2.4em;
  line-height: 1.1em;
  font-weight: 700;
}

.actor-card-bio h3 {
  font-weight: 600;
  line-height: 1.3em;
  font-size: 1.3em;
}

.actor-card-bio .actor-social-links {
  font-size: 1.5em;
}

.actor-card-bio .actor-title {
  width: 100%;
}

.actor-card img{
  width: 100%;
}

.actor-card mat-card-content {
  padding: 10px;
}

.person-images {
  display: flex;
}

/* =============
    Responsive
 =============== */

/* Large desktops and laptops */
@media (min-width: 1201px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1200px) {


}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
