@import "variables";

.text-wrapper {
    height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.title {
    font-size: 6em;
    font-weight: 700;
    color: $beaver;
}

.subtitle {
    font-size: 40px;
    font-weight: 700;
    color: $dark_liver;
}

.buttons {
    margin: 30px;

    a.button {
        font-weight: 700;
        border: 2px solid $beaver;
        text-decoration: none;
        padding: 15px;
        text-transform: uppercase;
        color: $beaver;
        border-radius: 26px;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: $beaver;
            color: white;
            transition: all 0.2s ease-in-out;
        }
    }
}
