<div class="text-wrapper">
  <div class="title" data-content="404">404</div>
  <div class="subtitle">Запрашиваемая страница недоступна.</div>
  <div class="buttons">
    <a class="button" routerLink="/">На главную</a>
  </div>
</div>
