<div class="container padding-top-60">

  <h2 style="text-align: left; padding-left: 20px;">Обзор сериалов</h2>

  <mat-card class="filter-movies-card">
    <div style="margin-bottom: 24px">Фильтры</div>
    <button mat-raised-button color="primary" aria-label="Set Airing filter">Сейчас на экране</button>
    <button mat-raised-button color="primary" aria-label="Set Airing Today filter" disabled>Серия сегодня</button>
    <button mat-raised-button color="primary" aria-label="Set Popular filter" disabled>Популярные</button>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Жанры
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let genre of genres">
        <button mat-raised-button color="primary" aria-label="Set Genres filter" disabled>
          {{genre.name}}
        </button>
      </div>

    </mat-expansion-panel>
    <div style="margin-top: 10px">Оценка пользователей</div>
    <mat-slider
      [max]="max"
      [min]="min"
      [step]="step"
      [thumbLabel]="thumbLabel"
      [tickInterval]="tickInterval"
      [value]="value"
      disabled
    ></mat-slider>
  </mat-card>

  <div class="list-movies">
    <div style="text-align: center">
      <span *ngFor="let tvshow of onTheAir">
        <app-poster-card class="all-poster" [model]="tvshow"></app-poster-card>
      </span>
    </div>
  </div>

</div>
