.transparent-bar {
  position: absolute;
  z-index: 999;
  background: transparent;
}

.img-header {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  background-size: cover;
  margin-left: 10px;
}

.app_header {
  position: fixed;
  top: 0;
  z-index: 1900;
}

.home-name-padding {
  padding-left: 70px;
}

.hidden {
  display: none;
}

@media (max-width: 767px) {
  .home-name-padding {
    padding-left: 0;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .home-name-padding {
    padding-left: 0;
  }
}
