<app-header class="app_header"></app-header>

<router-outlet></router-outlet>

<!-- <footer class="docs-footer">
  <a target="_blank" href="https://www.themoviedb.org/" class="link">Источник — themoviedb.org</a>
</footer> -->
