@import "variables";

.movie-main {
  display: flex;
  flex: 1;
  max-height: 100vh;
  margin-top: 48px;

  *::-webkit-scrollbar-track {
    background-color: transparent;
  }

  *::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #5f4f44;
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
  }
}

.sidebar {
  color: $isabelline;
  background: $dark_liver;
  overflow-y: scroll;
  h2 {
    font-size: 1.3em;
  }
  h3 {
    width: 100%;
    margin: 0 0 10px 0;
    font-weight: 600;
    line-height: 1.0em;
    font-size: 1.0em;
  }
}

.container-movie {
  flex: 1;
  color: $isabelline;
  overflow-y: scroll;
  color: white;
  h1, p {
    width: 90%;
    margin: 15px auto;
  }
}

.left {
  width: 20%;
  img {
    width: 100%;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
  }
}

.right {
  width: 15%;
  background: transparent;
  img {
    float: right;
    width: 100%;
  }
}

.center-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

.genre-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 18px;
}

.mat-mini-fab .mat-icon, .mat-mini-fab i {
  line-height: 20px;
}

.mat-card-actions {
  padding: 0 !important;
}

.mat-card-content {
  margin-bottom: 0;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.card-content strong{  font-size: 1.2em;  }
.card-content span{  font-size: 1em;  }

.movie-content-card {
  display: inline-block;
  vertical-align: top;
  margin: 15px 5px;
  text-align: left;
  width: 90%;
}

.cast-actor-card {
  vertical-align: top;
  margin: 0 5px 0;
}

.video-movie-main {
  margin: auto;
}

.video-movie-main iframe {
  width: 100%;
  height: 300px;
}

/* =============
    Responsive
 =============== */

/* Large desktops and laptops */
@media (min-width: 1201px) {
  .cast-actor-card{  width: 13%;  }
  .video-movie-main{  width: 50%;  }
  .recommended-poster::ng-deep .movie-card{  width: 17% !important;  }
  .recommended-poster::ng-deep .movie-card .mat-card-title{  font-size: 20px !important  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1200px) {
  .cast-actor-card{  width: 22%;  }
  .video-movie-main{  width: 60%;  }
  .recommended-poster::ng-deep .movie-card{  width: 23%;  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 992px) {
  .genders-cat button{  margin-bottom: 5px;  }
  .cast-actor-card{  width: 23%;  }
  .video-movie-main{  width: 70%;  }
  .recommended-poster::ng-deep .movie-card{  width: 37%;  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  .cast-actor-card{  width: 25%;  }
  .genders-cat button{  margin-bottom: 5px;  }
  .video-movie-main{  width: 80%;  }
  .recommended-poster::ng-deep .movie-card{  width: 31%;  }
  .recommended-poster::ng-deep .movie-card .mat-card-title{  font-size: 17px  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .cast-actor-card{  width: 39%;  }
  .genders-cat button{  margin-bottom: 5px;  }
  .video-movie-main{  width: 90%;  }
  .similar-movies { display: none}
  .recommended-poster::ng-deep .movie-card{  width: 88%;  }
}


.mat-raised-button {
  min-width: 40px;
  padding: 0 7px;
  margin: 7px;
}

.absent {
  // margin: 0 auto;
}
