.genre-card {
  color: white !important;
  font-size: 1rem;
  margin: 10px;
}

.center-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
}
