<div class="center-block padding-top-60">
  <a *ngFor="let genre of genres" routerLink="/genres/{{genre.id}}/{{genre.name}}">
    <button mat-raised-button color="primary" class="genre-card" aria-label="Genres">
      {{genre.name}}
    </button>
  </a>
</div>
