@import "variables";

* {
  list-style: none;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: $charleston_green;
}

app-home {
  a {
    color: white;
    text-decoration: none;
  }
  hr {
    border-color: transparent;
  }
}

h3 {
  color: $beaver;
  margin: 2rem;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 46px;
  color: $isabelline;
}

.padding-top-60 {
  padding-top: 60px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

*::-webkit-scrollbar-track {
  background-color: $grullo;
}

*::-webkit-scrollbar {
  height: 8px;
  background-color: $grullo;
}

*::-webkit-scrollbar-thumb {
  background-color: $dark_liver;
}

.loading {
  width: 30px;
  height: 30px;
  border: 5px solid $dark_liver;
  position: fixed;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  border-radius: 50%;
  h4 {
    color: white;
    margin-left: 40px;
    font-size: 20px;
  }
  &:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    background: $isabelline;
    top: 10px;
    left: -5px;
    animation: spin 1.2s infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center {
  text-align: center;
}

.error {
  margin: 10px auto auto;
}

.docs-footer {
  background: $dark_liver;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 12px;
  font-size: 12px;
  text-align: center;
  z-index: 100;
}
