@import '~@angular/material/theming';
@import '~swiper/dist/css/swiper.min.css';
@include mat-core();

// Customizations go here, for instance:
$app-primary: mat-palette($mat-brown);
$app-accent: mat-palette($mat-brown);
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

.moviesHome-header a { color: #F44336; }

.mat-tab-body.mat-tab-body-active {
  overflow-y: hidden !important;
}

.mat-dialog-container {
  padding: 0!important;
}

.mat-icon {
  color: white;
}
